
.menu{
    width: 100%;
    background-color: #000000;
    height:100px ;
    display: flex;

}
.logoTypeContainer{

    width: 50%;

}
.links-group{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.links-group span{

    margin-right: 50px ;
}