.entre-em-contato-sec{
    height: 1700px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emc-title{
    margin-top: 100px;
    color: #FFF;
    font-family: Kollektif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 80px;
}


.upper-title{
    color: #FFF;
    font-family: Kollektif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.upper-title2{
    color: #FFF;
    font-family: Kollektif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
    text-align: end;

}
.ideia-redes-container{

    display: flex;
    justify-content: space-between;
    width: 1200px;

}
.sumir-mobile{
    display: flex;
}
.ideia{
    padding: 50px;
    width: 380px;
    height: 560px;
    background-color: #F9F9F9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes-container{
    width: 500px;
    height: 660px;
    display: flex;
    flex-direction: column;

    align-items: end;
}
.redes-container span{
    color: white;
    margin-right: 25px;
    font-family: Kollektif, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.redes-container a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.redes-container img{
    width: 100px;
}

.input-contato{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-contato span{
    color: #000;
    font-family: Kollektif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.input-contato input{
    font-family: Kollektif;
    margin-bottom: 20px;

    color: black;
    border-radius: 6px;
    background-color: #E9E9E9;
    width: 385px;
    padding-left: 15px;
    font-size: 15px;
    height: 30px;
    border: 1px solid white;
    transition: border 1s,background-color 1s;
}


.input-contato input:focus,.input-contato input:hover {
    border: 1px solid black;
    background-color: rgb(0,0,0,0);
    outline: 0 none;
}
.input-contato textarea{
    font-family: Kollektif;


    color: black;
    border-radius: 6px;
    background-color: #E9E9E9;
    font-size: 15px;
    border: 1px solid white;
    transition: border 1s,background-color 1s;
    min-width: 385px;
    max-width:385px ;
    padding-left: 15px;
    padding-top: 10px;
    min-height: 130px;

    max-height: 130px;
}
.input-contato textarea:focus,.input-contato textarea:hover {
    border: 1px solid black;
    background-color: rgb(0,0,0,0);
    outline: 0 none;
}

.enviar-contato{
    margin-top: 50px;
    width: 135px;
    height: 50px;
    border-radius: 6px;
    background: black;
    color: #FFF;
    font-family: Kollektif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.enviar-contato:hover{
    cursor: pointer;
}

.centralizada-mobile2{
    display: flex;

    flex-direction: column;
    align-items: flex-end;
}

@media (max-width: 1200px) {
    .centralizada-mobile2{
        align-items: center;
        justify-content: center;
        display: none;
    }
    .ideia-redes-container{
        width: 380px;
        display: flex;
        flex-direction: column;
    }
    .redes-container{

    }
    .sumir-mobile{
        display: none;
    }
.emc-title{
    font-size: 30px;
}
    .upper-title{
        font-size: 25px;
    }
    .upper-title2{
        font-size: 25px;

        margin-top: 100px;
    }
    .ideia{
        padding: 25px;
        width: 300px;
    }

    .input-contato input{
        width: 285px;
        padding-left: 15px;
    }
    .input-contato textarea{
        min-width: 285px;
        max-width: 285px;
        padding-left: 15px;
    }
    .centralizada-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .entre-em-contato-sec{
        height: 1110px;
    }

}