.HomeBackGround{
    width: 100%;
    height: 600px;
    background: #101010;
    display: flex;
    justify-content: space-around;
}
.Mov-Text{
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    
}




.Text-Ideias{
    width: 683px;
    height: 150px;
    color: #FFF;
    font-family: Kollektif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top:200px ;

}
.text-Realidade{
    color: #FFF;
    font-family: Kollektif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
  
}
.Mov-logoAvantia{
    display: flex;
    
}
.LogoHome{
    width: 100%;
    border-top: 0;
    border-bottom: 0;
}
.QroAgir{
    width: 190px;
    height: 60px;
    color: white;
    background-color: #101010;
    border: 0.5px solid white;
    border-radius: 4px;
    font-family:Kollektif ;
    margin-top: 110px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    cursor: pointer;


}
.ImgVector{    
    position: relative;
    left: 11px;
}
.QroAgir:hover{
    background-color: black;
}

@media(max-width: 1200px) {

    .Mov-Text{
        padding: 0;
        margin: 0;
        width: 400px;
        height: 500px;
        align-items: center;
    }

    .LogoHome{
        width: 288px;
        height: 288px;
    }

    .HomeBackGround{
        height: 600px;
        flex-direction: column-reverse;
        align-items: center;
    }
.QroAgir{
    margin-top: 43px;
}
    .Text-Ideias{
        height: 90px;
        width: 100%;
        font-size: 40px;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .text-Realidade{
        margin-top: 20px;
        font-size: 18px;
    }
}

